/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}


h1{
  padding-left: 550px;
  color: rgb(57, 62, 92);

}

/* Style the list items */
ul{
  position: absolute;
  left: 233px;
  right: 200px;
  top: 140px;
  padding: 12px 18px 12px 40px;
  background:rgb(27, 26, 26);
  color:white;
  font-size: 25px;
  transition: 0.2s;
  height: 80px;
  width: 900px;
  border-radius: 25px;
  
 

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.close:hover {
  background-color:white;
  color: white;
}

/* Style the header */
.header {
  background-color:rgb(27, 26, 26);
  padding: 30px 40px;
  color: white;
  text-align: center;
  margin: 0 auto;
  height: 100px;
  width: 900px;
  border-radius: 25px;
  
  
}

.myInput{
  margin: 0 auto;
  padding-left: 30px;
  
  background-color: rgb(236, 236, 236) ;
}


/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  background-color:rgb(236, 236, 236);
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background:rgba(18, 141, 212, 0.801);
  color:black;
  float:right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.myDIV{
  margin: 0 auto;
}
.addBtn:hover {
  background-color: #bbb;
}